body {
  background: #111;
  color: #FFF;
  font-size: 12px;
}
main {
  margin-top: 60px;
}
.navbar-form-no-border {
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.tag-square {
  width: 20px;
  height: 20px;
}
.panel {
  background: #333;
}
.panel .table > tbody:first-child > tr:first-child td,
.panel .table > tbody:first-child > tr:first-child th {
  border-top: 1px solid #dddddd;
}
.panel .table-bordered thead tr:first-child td,
.panel .table-bordered tbody tr:first-child td,
.panel .table-bordered tfoot tr:first-child td,
.panel .table-bordered thead tr:first-child th,
.panel .table-bordered tbody tr:first-child th,
.panel .table-bordered tfoot tr:first-child th {
  border-bottom: 1px solid #dddddd;
}
.panel .table-responsive > .table-bordered thead tr:first-child td,
.panel .table-responsive > .table-bordered tbody tr:first-child td,
.panel .table-responsive > .table-bordered tfoot tr:first-child td,
.panel .table-responsive > .table-bordered thead tr:first-child th,
.panel .table-responsive > .table-bordered tbody tr:first-child th,
.panel .table-responsive > .table-bordered tfoot tr:first-child th {
  border-bottom: 1px solid #dddddd;
}
option {
  background: #000;
  color: #FFF;
}
option[value=Common] {
  background: #1a1a1a;
}
option[value=Uncommon] {
  background: #660066;
}
option[value=Rare],
option[value=Blue] {
  background: #004466;
}
option[value=Exotic] {
  background: #006600;
}
option[value=Legendary] {
  background: #666600;
}
option[value=Brown] {
  background: #663300;
}
option[value=Red] {
  background: #660000;
}
option[value=Silver] {
  background: #666666;
}
option[value=Gold] {
  background: #666600;
}
.inputBox {
  z-index: 0;
  position: relative;
  display: inline-block;
  margin-bottom: 3px;
  vertical-align: top;
}
.inputBox.indent {
  margin-left: 30px;
}
.inputBox > * {
  position: relative;
  z-index: 2;
  display: block;
  float: left;
  padding: 0 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.inputBox > * + * {
  border-left-width: 0;
}
.inputBox header {
  background-color: #000000;
}
.inputBox .inputText {
  background-color: #0d0d0d;
}
.inputBox select,
.inputBox input,
.inputBox textarea,
.inputBox [contenteditable] {
  background-color: #262626;
}
.inputBox .inputName {
  background-color: #404040;
}
.inputBox label {
  margin-bottom: 0;
  padding: 0 1px;
}
.inputBox input[type=number] {
  font-family: Consolas;
  text-align: right;
}
.inputBox input[type=number]::-webkit-outer-spin-button,
.inputBox input[type=number]::-webkit-inner-spin-button {
  display: none;
}
.inputBox [list],
.inputBox select {
  -webkit-appearance: none;
  width: auto;
}
.inputBox [list]::-webkit-calendar-picker-indicator,
.inputBox select::-webkit-calendar-picker-indicator {
  display: none;
}
.inputBox.hasHeader {
  padding-top: 1.1em;
}
.inputBox.hasHeader > header {
  background-color: #0d0d0d;
  position: absolute;
  top: 0;
  z-index: 1;
  font-size: 75%;
  padding-bottom: 3px;
  border-color: #ffffff !important;
}
.inputBox.hasHeader :nth-child(2) {
  border-left-width: 1px;
}
.inputBox.hasHeader.hasTypeIcon :nth-child(2),
.inputBox.hasHeader.hasTypeIcon :nth-child(3) {
  border-left-width: 0px;
}
.inputBox.offsetTop {
  padding-top: 1.1em;
}
.inputBox.hasTypeIcon {
  padding-top: 1.1em;
  padding-left: 32px;
}
.inputBox.hasTypeIcon > .typeIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px !important;
  height: 32px !important;
  padding: 0;
  background: #ffffff;
}
.inputBox.hasTypeIcon > .typeIcon .iconStars {
  position: absolute;
  bottom: 0;
  color: #ff0;
  line-height: 1;
  font-size: 9px;
  letter-spacing: -3px;
  text-shadow: 0 0 1px black;
}
.inputBox.hasTypeIcon > .typeIcon select {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
[disabled] .inputBox .inputBtn {
  display: none;
}
[disabled] .inputBox.showOnLock,
[disabled] .inputBox .showOnLock {
  display: block;
}
[disabled] .inputBox.hideOnLock,
[disabled] .inputBox .hideOnLock {
  display: none;
}
.inputBox .Areas {
  width: 145px;
}
.inputBox .Stages {
  width: 160px;
}
.inputBox .Location {
  width: 80px;
}
.inputBox .Gear {
  width: auto;
}
.inputBox .GearType {
  width: 90px;
}
.inputBox .Stars {
  width: 20px;
}
.inputBox .ItemUse {
  width: 145px;
}
.inputBox .ItemOre {
  width: 100px;
}
.inputBox .ItemMaterial {
  width: 170px;
}
.inputBox .ItemRarity {
  width: 75px;
}
.inputBox .ChestRarity {
  width: 46px;
}
.inputBox .GoalType {
  width: 20px;
}
.inputBox .RewardAmount {
  width: 50px;
  border-left-width: 0;
}
.inputBox .EventName {
  width: 220px;
}
.inputBox .RewardType {
  width: 70px;
}
.inputBox .MonsterType {
  width: 40px;
}
.inputBox .MonsterRace {
  width: 70px;
}
.inputBox .MonsterFamily {
  width: 160px;
}
.inputBox .MonsterName {
  width: 180px;
}
.inputBox .BlacksmithStat {
  width: 80px;
}
.inputBox .starsText {
  width: 61px;
}
.inputBox .statName,
.inputBox > .difficulty {
  width: 80px;
}
.inputBox .small3 {
  width: 40px;
}
.inputBox .Stat {
  width: 60px;
}
.inputBox .lv {
  width: 31px;
}
.inputBox .amount {
  width: 37px;
}
.inputBox .goalAmount {
  width: 24px;
}
.inputBox .CommonDrop {
  background-color: #000;
  border-color: #ffffff;
  color: #ffffff;
}
.inputBox .UncommonDrop {
  border-color: #33bbff;
  color: #33bbff;
}
.inputBox .RareDrop {
  border-color: #ffff33;
  color: #ffff33;
}
.inputBox .OreDrop {
  background-color: #663300;
}
.inputBox .SpecialDrop {
  background: #666600;
}
.inputBox[data-goal-type=Kill] > * {
  border-color: #F00;
}
.inputBox[data-goal-type=Stealth] > * {
  border-color: #0F0;
}
.inputBox[data-goal-type=Protect] > * {
  border-color: #0FF;
}
.inputBox .bs-yellow {
  background: #666600;
}
.inputBox .bs-red {
  background: #660000;
}
.inputBox .GearType option:first-child,
.inputBox .ItemRarity option:first-child,
.inputBox .ChestRarity option:first-child,
.inputBox .Location option:first-child,
.inputBox .MonsterType option:first-child,
.inputBox .MonsterRace option:first-child,
.inputBox .BlacksmithSkill option:first-child {
  display: none;
}
.inputBox.block {
  display: block;
}
.inputBox.block > * {
  width: 100% !important;
  float: none;
}
.inputBox.block > * + * {
  border-left-width: 1px !important;
}
.inputBox.smallBtn {
  margin: 0;
  line-height: 1px;
}
.inputBox.smallBtn > * {
  padding: 2px;
  font-size: 10px;
}
.inputBox.noBorder > * {
  border-width: 0 !important;
}
.inputBox.bg-primary {
  background-color: #337ab7;
}
.inputBox.bg-success {
  background-color: #5cb85c;
}
.inputBox.bg-info {
  background-color: #5bc0de;
}
.inputBox.bg-warning {
  background-color: #f0ad4e;
}
.inputBox.bg-danger {
  background-color: #d9534f;
}
.inputBox.bg-common,
.inputBox.bg-monster-m,
.inputBox.bg-monster-ms {
  background-color: #1a1a1a;
}
.inputBox.bg-uncommon,
.inputBox.bg-event-boss,
.inputBox.bg-monster-snm,
.inputBox.bg-monster-boss {
  background-color: #660066;
}
.inputBox.bg-blue,
.inputBox.bg-rare {
  background-color: #004466;
}
.inputBox.bg-green,
.inputBox.bg-exotic,
.inputBox.bg-event-normal {
  background-color: #006600;
}
.inputBox.bg-gold,
.inputBox.bg-legendary,
.inputBox.bg-event-gold,
.inputBox.bg-monster-hnm {
  background-color: #666600;
}
.inputBox.bg-brown {
  background-color: #663300;
}
.inputBox.bg-red,
.inputBox.bg-monster-nm {
  background-color: #660000;
}
.inputBox.bg-silver,
.inputBox.bg-event-silver {
  background-color: #666666;
}
.inputBox > *.bg-primary {
  background-color: #337ab7;
}
.inputBox > *.bg-success {
  background-color: #5cb85c;
}
.inputBox > *.bg-info {
  background-color: #5bc0de;
}
.inputBox > *.bg-warning {
  background-color: #f0ad4e;
}
.inputBox > *.bg-danger {
  background-color: #d9534f;
}
.inputBox > *.bg-common,
.inputBox > *.bg-monster-m,
.inputBox > *.bg-monster-ms {
  background-color: #1a1a1a;
}
.inputBox > *.bg-uncommon,
.inputBox > *.bg-event-boss,
.inputBox > *.bg-monster-snm,
.inputBox > *.bg-monster-boss {
  background-color: #660066;
}
.inputBox > *.bg-blue,
.inputBox > *.bg-rare {
  background-color: #004466;
}
.inputBox > *.bg-green,
.inputBox > *.bg-exotic,
.inputBox > *.bg-event-normal {
  background-color: #006600;
}
.inputBox > *.bg-gold,
.inputBox > *.bg-legendary,
.inputBox > *.bg-event-gold,
.inputBox > *.bg-monster-hnm {
  background-color: #666600;
}
.inputBox > *.bg-brown {
  background-color: #663300;
}
.inputBox > *.bg-red,
.inputBox > *.bg-monster-nm {
  background-color: #660000;
}
.inputBox > *.bg-silver,
.inputBox > *.bg-event-silver {
  background-color: #666666;
}
.size-extra-wide .modal-dialog {
  width: 100%;
  padding: 0px;
}
#loading {
  z-index: 20000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../images/loading.gif');
  background-size: 100% 100%;
  transition: opacity 2s;
  display: block;
  opacity: .95;
}
.blacksmithStatsContainer {
  position: relative;
  width: 310px;
  height: 208px;
  padding-top: 23px;
}
.blacksmithStatsContainer .blacksmithChartContainer {
  width: 350px;
  height: 175px;
  margin-left: -20px;
}
.blacksmithStatsContainer > .inputBox {
  position: absolute;
}
.blacksmithStatsContainer > .inputBox[name="Precision"] {
  top: 0;
  left: 115px;
}
.blacksmithStatsContainer > .inputBox[name="Technique"] {
  top: 70px;
  right: 0;
}
.blacksmithStatsContainer > .inputBox[name="Growth Potential"] {
  bottom: 0;
  right: 50px;
}
.blacksmithStatsContainer > .inputBox[name="Knowledge"] {
  bottom: 0;
  left: 50px;
}
.blacksmithStatsContainer > .inputBox[name="Recycling"] {
  top: 70px;
  left: 0;
}
.hr-icon {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../images/SAOHR-icons.png");
  background-repeat: no-repeat;
  background-position: 30px;
}
.hr-icon.chest-brown {
  background-position: 0px 0px;
}
.hr-icon.chest-blue {
  background-position: -30px 0px;
}
.hr-icon.chest-red {
  background-position: -60px 0px;
}
.hr-icon.chest-silver {
  background-position: -90px 0px;
}
.hr-icon.chest-gold {
  background-position: -120px 0px;
}
.hr-icon.gear-1h-sword-common {
  background-position: 0px -60px;
}
.hr-icon.gear-1h-sword-uncommon {
  background-position: -30px -60px;
}
.hr-icon.gear-1h-sword-rare {
  background-position: -60px -60px;
}
.hr-icon.gear-1h-sword-exotic {
  background-position: -90px -60px;
}
.hr-icon.gear-1h-sword-legendary {
  background-position: -120px -60px;
}
.hr-icon.gear-rapier-common {
  background-position: 0px -90px;
}
.hr-icon.gear-rapier-uncommon {
  background-position: -30px -90px;
}
.hr-icon.gear-rapier-rare {
  background-position: -60px -90px;
}
.hr-icon.gear-rapier-exotic {
  background-position: -90px -90px;
}
.hr-icon.gear-rapier-legendary {
  background-position: -120px -90px;
}
.hr-icon.gear-scimitar-common {
  background-position: 0px -120px;
}
.hr-icon.gear-scimitar-uncommon {
  background-position: -30px -120px;
}
.hr-icon.gear-scimitar-rare {
  background-position: -60px -120px;
}
.hr-icon.gear-scimitar-exotic {
  background-position: -90px -120px;
}
.hr-icon.gear-scimitar-legendary {
  background-position: -120px -120px;
}
.hr-icon.gear-dagger-common {
  background-position: 0px -150px;
}
.hr-icon.gear-dagger-uncommon {
  background-position: -30px -150px;
}
.hr-icon.gear-dagger-rare {
  background-position: -60px -150px;
}
.hr-icon.gear-dagger-exotic {
  background-position: -90px -150px;
}
.hr-icon.gear-dagger-legendary {
  background-position: -120px -150px;
}
.hr-icon.gear-1h-club-common {
  background-position: 0px -180px;
}
.hr-icon.gear-1h-club-uncommon {
  background-position: -30px -180px;
}
.hr-icon.gear-1h-club-rare {
  background-position: -60px -180px;
}
.hr-icon.gear-1h-club-exotic {
  background-position: -90px -180px;
}
.hr-icon.gear-1h-club-legendary {
  background-position: -120px -180px;
}
.hr-icon.gear-katana-common {
  background-position: 0px -210px;
}
.hr-icon.gear-katana-uncommon {
  background-position: -30px -210px;
}
.hr-icon.gear-katana-rare {
  background-position: -60px -210px;
}
.hr-icon.gear-katana-exotic {
  background-position: -90px -210px;
}
.hr-icon.gear-katana-legendary {
  background-position: -120px -210px;
}
.hr-icon.gear-2h-sword-common {
  background-position: 0px -240px;
}
.hr-icon.gear-2h-sword-uncommon {
  background-position: -30px -240px;
}
.hr-icon.gear-2h-sword-rare {
  background-position: -60px -240px;
}
.hr-icon.gear-2h-sword-exotic {
  background-position: -90px -240px;
}
.hr-icon.gear-2h-sword-legendary {
  background-position: -120px -240px;
}
.hr-icon.gear-2h-axe-common {
  background-position: 0px -270px;
}
.hr-icon.gear-2h-axe-uncommon {
  background-position: -30px -270px;
}
.hr-icon.gear-2h-axe-rare {
  background-position: -60px -270px;
}
.hr-icon.gear-2h-axe-exotic {
  background-position: -90px -270px;
}
.hr-icon.gear-2h-axe-legendary {
  background-position: -120px -270px;
}
.hr-icon.gear-spear-common {
  background-position: 0px -300px;
}
.hr-icon.gear-spear-uncommon {
  background-position: -30px -300px;
}
.hr-icon.gear-spear-rare {
  background-position: -60px -300px;
}
.hr-icon.gear-spear-exotic {
  background-position: -90px -300px;
}
.hr-icon.gear-spear-legendary {
  background-position: -120px -300px;
}
.hr-icon.gear-shield-common {
  background-position: 0px -330px;
}
.hr-icon.gear-shield-uncommon {
  background-position: -30px -330px;
}
.hr-icon.gear-shield-rare {
  background-position: -60px -330px;
}
.hr-icon.gear-shield-exotic {
  background-position: -90px -330px;
}
.hr-icon.gear-shield-legendary {
  background-position: -120px -330px;
}
.hr-icon.gear-head-common {
  background-position: 0px -360px;
}
.hr-icon.gear-head-uncommon {
  background-position: -30px -360px;
}
.hr-icon.gear-head-rare {
  background-position: -60px -360px;
}
.hr-icon.gear-head-exotic {
  background-position: -90px -360px;
}
.hr-icon.gear-head-legendary {
  background-position: -120px -360px;
}
.hr-icon.gear-armor-common {
  background-position: 0px -390px;
}
.hr-icon.gear-armor-uncommon {
  background-position: -30px -390px;
}
.hr-icon.gear-armor-rare {
  background-position: -60px -390px;
}
.hr-icon.gear-armor-exotic {
  background-position: -90px -390px;
}
.hr-icon.gear-armor-legendary {
  background-position: -120px -390px;
}
.hr-icon.gear-greaves-common {
  background-position: 0px -420px;
}
.hr-icon.gear-greaves-uncommon {
  background-position: -30px -420px;
}
.hr-icon.gear-greaves-rare {
  background-position: -60px -420px;
}
.hr-icon.gear-greaves-exotic {
  background-position: -90px -420px;
}
.hr-icon.gear-greaves-legendary {
  background-position: -120px -420px;
}
.hr-icon.gear-neck-common {
  background-position: 0px -450px;
}
.hr-icon.gear-neck-uncommon {
  background-position: -30px -450px;
}
.hr-icon.gear-neck-rare {
  background-position: -60px -450px;
}
.hr-icon.gear-neck-exotic {
  background-position: -90px -450px;
}
.hr-icon.gear-neck-legendary {
  background-position: -120px -450px;
}
.hr-icon.gear-waist-common {
  background-position: 0px -480px;
}
.hr-icon.gear-waist-uncommon {
  background-position: -30px -480px;
}
.hr-icon.gear-waist-rare {
  background-position: -60px -480px;
}
.hr-icon.gear-waist-exotic {
  background-position: -90px -480px;
}
.hr-icon.gear-waist-legendary {
  background-position: -120px -480px;
}
.hr-icon.gear-wrist-common {
  background-position: 0px -510px;
}
.hr-icon.gear-wrist-uncommon {
  background-position: -30px -510px;
}
.hr-icon.gear-wrist-rare {
  background-position: -60px -510px;
}
.hr-icon.gear-wrist-exotic {
  background-position: -90px -510px;
}
.hr-icon.gear-wrist-legendary {
  background-position: -120px -510px;
}
.hr-icon.gear-ring-common {
  background-position: 0px -540px;
}
.hr-icon.gear-ring-uncommon {
  background-position: -30px -540px;
}
.hr-icon.gear-ring-rare {
  background-position: -60px -540px;
}
.hr-icon.gear-ring-exotic {
  background-position: -90px -540px;
}
.hr-icon.gear-ring-legendary {
  background-position: -120px -540px;
}
.hr-icon.gear-charm-common {
  background-position: 0px -570px;
}
.hr-icon.gear-charm-uncommon {
  background-position: -30px -570px;
}
.hr-icon.gear-charm-rare {
  background-position: -60px -570px;
}
.hr-icon.gear-charm-exotic {
  background-position: -90px -570px;
}
.hr-icon.gear-charm-legendary {
  background-position: -120px -570px;
}
.media {
  position: relative;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 5px;
  background: #222;
}
.media .media-actions {
  opacity: .1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .5s;
}
.media:hover .media-actions {
  opacity: 1;
}
.media.bg-primary {
  background-color: #337ab7;
}
.media.bg-success {
  background-color: #5cb85c;
}
.media.bg-info {
  background-color: #5bc0de;
}
.media.bg-warning {
  background-color: #f0ad4e;
}
.media.bg-danger {
  background-color: #d9534f;
}
.media.bg-common,
.media.bg-monster-m,
.media.bg-monster-ms {
  background-color: #1a1a1a;
}
.media.bg-uncommon,
.media.bg-event-boss,
.media.bg-monster-snm,
.media.bg-monster-boss {
  background-color: #660066;
}
.media.bg-blue,
.media.bg-rare {
  background-color: #004466;
}
.media.bg-green,
.media.bg-exotic,
.media.bg-event-normal {
  background-color: #006600;
}
.media.bg-gold,
.media.bg-legendary,
.media.bg-event-gold,
.media.bg-monster-hnm {
  background-color: #666600;
}
.media.bg-brown {
  background-color: #663300;
}
.media.bg-red,
.media.bg-monster-nm {
  background-color: #660000;
}
.media.bg-silver,
.media.bg-event-silver {
  background-color: #666666;
}
.media.newModel {
  box-shadow: inset 0 0 5px 2px #00aa00, 0 0 2px 1px #00aa00;
}
.media.cloneModel {
  box-shadow: inset 0 0 5px 2px #00aaaa, 0 0 2px 1px #00aaaa;
}
.media.showModel {
  box-shadow: inset 0 0 5px 2px transparent, 0 0 2px 1px transparent;
}
.media.duplicateModel {
  box-shadow: inset 0 0 5px 2px #aa00aa, 0 0 2px 1px #aa00aa;
}
.media.duplicateFoundModel {
  box-shadow: inset 0 0 5px 2px #0000aa, 0 0 2px 1px #0000aa;
}
.media.hasMissingData {
  box-shadow: inset 0 0 5px 2px #aa0000, 0 0 2px 1px #aa0000;
}
.modal-body {
  padding: 5px 5px 0;
}
.modal-dialog {
  margin: 5px auto 0;
}
.modal-header,
.modal-footer {
  padding: 5px;
}
.modal-content {
  background: #111;
  border: 1px solid #FFF;
  border-radius: 0;
}
.btn {
  border: none;
  border-radius: 0;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0;
}
.np {
  padding: 0px !important;
}
.np-t {
  padding-top: 0px !important;
}
.np-r {
  padding-right: 0px !important;
}
.np-b {
  padding-bottom: 0px !important;
}
.np-l {
  padding-left: 0px !important;
}
.np-x {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.np-y {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.p-5 {
  padding: 5px !important;
}
.p-t-5 {
  padding-top: 5px !important;
}
.p-r-5 {
  padding-right: 5px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-x-5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.p-y-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-x-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.p-y-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.p-15 {
  padding: 15px !important;
}
.p-t-15 {
  padding-top: 15px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-b-15 {
  padding-bottom: 15px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-x-15 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.p-y-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.nm {
  margin: 0px !important;
}
.nm-t {
  margin-top: 0px !important;
}
.nm-r {
  margin-right: 0px !important;
}
.nm-b {
  margin-bottom: 0px !important;
}
.nm-l {
  margin-left: 0px !important;
}
.nm-x {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.nm-y {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.m-5 {
  margin: 5px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-x-5 {
  margin-right: 5px !important;
  margin-left: 5px !important;
}
.m-y-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-x-10 {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.m-y-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.m-15 {
  margin: 15px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-x-15 {
  margin-right: 15px !important;
  margin-left: 15px !important;
}
.m-y-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
