.media {
	margin-top: 0;
	&.bg-normal { background: @color-normal; }
	&.bg-purple { background: @color-purple; }
	&.bg-blue { background: @color-blue; }
	&.bg-green { background: @color-green; }
	&.bg-brown { background: @color-brown; }
	&.bg-red { background: @color-red; }
	&.bg-silver { background: @color-silver; }
	&.bg-gold { background: @color-gold; }
}

.modal-dialog {
	margin: 0px;
}

.padding-mix(~'n', ~'', 0px);
.padding-mix(~'', ~'-5', 5px);
.padding-mix(~'', ~'-10', 10px);
.padding-mix(~'', ~'-15', 15px);
.margin-mix(~'n', ~'', 0px);
.margin-mix(~'', ~'-5', 5px);
.margin-mix(~'', ~'-10', 10px);
.margin-mix(~'', ~'-15', 15px);
