@resourcePath: "../";
@color-normal: #1a1a1a;
@color-purple: #660066;
@color-green: #006600;
@color-brown: #663300;
@color-blue: #004466;
@color-red: #660000;
@color-silver: #666666;
@color-gold: #666600;
