@resourcePath: "../";
@color-normal: #595959;
@color-purple: #590059;
@color-green: #005900;
@color-brown: #592d00;
@color-blue: #005959;
@color-red: #590000;
@color-silver: #595959;
@color-gold: #594900;
