@import "_variables";
@import "_mixins";

body {
	background: #111;
	color: #FFF;
	font-size: 12px;
}

main {
	margin-top: 60px;
}

.navbar-form-no-border {
	border: none;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.tag-square {
	width: 20px;
	height: 20px;
}

.panel {
	background: #333;
	.table {
		> tbody:first-child {
			> tr:first-child {
				td, th {
					border-top: 1px solid #DDD
				}
			}
		}
		&-bordered {
			thead, tbody, tfoot {
				tr:first-child {
					td, th {
						border-bottom: 1px solid #DDD
					}
				}
			}
		}
		&-responsive > .table-bordered {
			thead, tbody, tfoot {
				tr:first-child {
					td, th {
						border-bottom: 1px solid #DDD
					}
				}
			}
		}
	}
}

option {
	background: #000;
	color: #FFF;
	&[value=Common] { background: @color-normal; }
	&[value=Uncommon] { background: @color-purple; }
	&[value=Rare], &[value=Blue] { background: @color-blue; }
	&[value=Exotic] { background: @color-green; }
	&[value=Legendary] { background: @color-gold; }
	&[value=Brown] { background: @color-brown; }
	&[value=Red] { background: @color-red; }
	&[value=Silver] { background: @color-silver; }
	&[value=Gold] { background: @color-gold; }
}

.inputBox {
	@inputBox-backcolor-default: #000;
	@inputBox-backcolor-header: @inputBox-backcolor-default;
	@inputBox-backcolor-readonly: #0D0D0D;
	@inputBox-backcolor-editable: #262626;
	@inputBox-backcolor-editable-alt: #404040;
	@inputBox-frontcolor-default: #fff;
	z-index: 0;
	position: relative;
	display: inline-block;
	margin-bottom: 3px;
	vertical-align: top;
	&.indent {
		margin-left: 30px;
	}

	> * {
		position: relative;
		z-index: 2;
		display: block;
		float: left;
		padding: 0 5px;
		border: 1px solid @inputBox-frontcolor-default;
		//background-color: @inputBox-backcolor-default;
		color: @inputBox-frontcolor-default;

		+ * {
			border-left-width: 0;
		}
	}

	header { background-color: @inputBox-backcolor-header; }
	.inputText { background-color: @inputBox-backcolor-readonly; }
	select, input, textarea, [contenteditable] { background-color: @inputBox-backcolor-editable; }
	.inputName { background-color: @inputBox-backcolor-editable-alt; }
	label {
		margin-bottom: 0;
		padding: 0 1px;
	}
	input {
		&[type=number] {
			font-family: Consolas;
			text-align: right;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				display: none;
			}
		}
	}
	[list], select {
		-webkit-appearance: none;
		width: auto;
		&::-webkit-calendar-picker-indicator {
			display: none;
		}
	}
	&.hasHeader {
		padding-top: 1.1em;
		> header {
			.inputText();
			position: absolute;
			top: 0;
			z-index: 1;
			font-size: 75%;
			padding-bottom: 3px;
			border-color: @inputBox-frontcolor-default !important;

		}
		:nth-child(2) { border-left-width: 1px; }
		&.hasTypeIcon {
			:nth-child(2), :nth-child(3) { border-left-width: 0px; }
		}
	}

	&.offsetTop {
		padding-top: 1.1em;
	}

	&.hasTypeIcon {
		padding-top: 1.1em;
		padding-left: 32px;
		> .typeIcon {
			//overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 32px !important;
			height: 32px !important;
			padding: 0;
			background: @inputBox-frontcolor-default;

			.iconStars {
				position: absolute;
				bottom: 0;
				color: #ff0;
				line-height: 1;
				font-size: 9px;
				letter-spacing: -3px;
				text-shadow: 0 0 1px black;
			}

			select {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				border: none;
				background: transparent;
				color: transparent;
				cursor: pointer;
			}
		}

	}
	.inputBtn {
		[disabled] & {
			display: none;
		}
	}

	[disabled] &.showOnLock,
	[disabled] & .showOnLock {
		display: block;
	}
	[disabled] &.hideOnLock,
	[disabled] & .hideOnLock {
		display: none;
	}

	.Areas { width: 145px; }
	.Stages { width: 160px; }
	.Location { width: 80px; }
	.Gear { width: auto; }
	.GearType { width: 90px; }
	.Stars { width: 20px; }
	.ItemUse { width: 145px; }
	.ItemOre { width: 100px; }
	.ItemMaterial { width: 170px; }
	.ItemRarity { width: 75px; }
	.ChestRarity { width: 46px; }
	.GoalType { width: 20px; }
	.RewardAmount { width: 50px; border-left-width: 0; }
	.EventName { width: 220px; }
	.RewardType { width: 70px; }
	.MonsterType { width: 40px; }
	.MonsterRace { width: 70px; }
	.MonsterFamily { width: 160px; }
	.MonsterName { width: 180px; }
	.BlacksmithStat { width: 80px; }
	.starsText { width: 61px; }
	.statName, > .difficulty { width: 80px; }
	.small3 { width: 40px; }
	.Stat { width: 60px; }
	.lv { width: 31px; }
	.amount { width: 37px; }
	.goalAmount { width: 24px; }
	.dropRarityStyle (@color: @inputBox-frontcolor-default) {
		border-color: lighten(@color, 40%);
		color: lighten(@color, 40%);
	}
	.CommonDrop { background-color: #000; border-color: @inputBox-frontcolor-default; color: @inputBox-frontcolor-default; }
	.UncommonDrop { .dropRarityStyle(@color-blue); }
	.RareDrop { .dropRarityStyle(@color-gold); }
	.OreDrop { background-color: darken(@color-brown, 0); }
	.SpecialDrop { background: @color-gold; }
	&[data-goal-type=Kill] > * { border-color: #F00; }
	&[data-goal-type=Stealth] > * { border-color: #0F0; }
	&[data-goal-type=Protect] > * { border-color: #0FF; }

	.bs-yellow { background: @color-gold; }
	.bs-red { background: @color-red; }
	.bs-grey {  }

	.GearType,
	.ItemRarity,
	.ChestRarity,
	.Location,
	.MonsterType,
	.MonsterRace,
	.BlacksmithSkill {
		option:first-child { display: none; }
	}

	&.block {
		display: block;
		//+ .inputBox {
		//	margin-top: 5px;
		//}
		> * {
			width: 100% !important;
			float: none;
			+ * {
				border-left-width: 1px !important;
			}
		}
	}

	&.smallBtn {
		margin: 0;
		line-height: 1px;
		> * {
			padding: 2px;
			font-size: 10px;
		}
	}

	&.noBorder {
		> * {
			border-width: 0 !important;
		}
	}

	.bgs-mixin();
	> * { .bgs-mixin(); }
}

.size-extra-wide .modal-dialog {
	width: 100%;
	padding: 0px;
}

#loading {
	z-index: 20000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url('../images/loading.gif');
	background-size: 100% 100%;
	transition: opacity 2s;
	display: block;
	opacity: .95;
}

.blacksmithStatsContainer {
	position: relative;
	width: 310px;
	height: 208px;
	padding-top: 23px;
	.blacksmithChartContainer {
		width: 350px;
		height: 175px;
		margin-left: -20px;
	}
	> .inputBox {
		position: absolute;
		&[name="Precision"] { top:0; left: 115px;}
		&[name="Technique"] { top:70px; right: 0;}
		&[name="Growth Potential"] { bottom: 0; right: 50px;}
		&[name="Knowledge"] { bottom:0; left: 50px;}
		&[name="Recycling"] { top: 70px; left: 0;}
	}
}

.hr-Icon-mixin(@x: 0, @y: 0) {
	@s: 30px;
	@imgX: @s * @x - @s;
	@imgY: @s * @y - @s;
	background-position: -@imgX -@imgY;
}

.hr-gear-icon-mixin (@weapon: '', @y: 0) {
	&.gear-@{weapon}-common { .hr-Icon-mixin(1,@y)}
	&.gear-@{weapon}-uncommon { .hr-Icon-mixin(2,@y)}
	&.gear-@{weapon}-rare { .hr-Icon-mixin(3,@y)}
	&.gear-@{weapon}-exotic { .hr-Icon-mixin(4,@y)}
	&.gear-@{weapon}-legendary { .hr-Icon-mixin(5,@y)}
}

.hr-icon {
	display: block;
	width: 30px;
	height: 30px;
	background-image: url("../images/SAOHR-icons.png");
	background-repeat: no-repeat;
	background-position: 30px;

	&.chest-brown { .hr-Icon-mixin(1,1)}
	&.chest-blue { .hr-Icon-mixin(2,1)}
	&.chest-red { .hr-Icon-mixin(3,1)}
	&.chest-silver { .hr-Icon-mixin(4,1)}
	&.chest-gold { .hr-Icon-mixin(5,1)}
	.hr-gear-icon-mixin(~'1h-sword', 3);
	.hr-gear-icon-mixin(~'rapier', 4);
	.hr-gear-icon-mixin(~'scimitar', 5);
	.hr-gear-icon-mixin(~'dagger', 6);
	.hr-gear-icon-mixin(~'1h-club', 7);
	.hr-gear-icon-mixin(~'katana', 8);
	.hr-gear-icon-mixin(~'2h-sword', 9);
	.hr-gear-icon-mixin(~'2h-axe', 10);
	.hr-gear-icon-mixin(~'spear', 11);
	.hr-gear-icon-mixin(~'shield', 12);
	.hr-gear-icon-mixin(~'head', 13);
	.hr-gear-icon-mixin(~'armor', 14);
	.hr-gear-icon-mixin(~'greaves', 15);
	.hr-gear-icon-mixin(~'neck', 16);
	.hr-gear-icon-mixin(~'waist', 17);
	.hr-gear-icon-mixin(~'wrist', 18);
	.hr-gear-icon-mixin(~'ring', 19);
	.hr-gear-icon-mixin(~'charm', 20);
}

@import "_overrides";